<!DOCTYPE html>
{% load static %}
<html lang="ru">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" type="text/css" href="{% static 'work/css/vacancy_list.css' %}">
    <title>Вакансии работодателя</title>
</head>
<body>
    <header class="left-panel">
        <div class="logotype">
            <a href="{% url 'home' %}"><img src="{% static 'users/img/Logo.svg' %}" alt="HiredUp Logo"></a>
        </div>

        <nav class="nav-menu">
        {% if user.is_authenticated %}
            <a href="{% url 'profile' %}">Профиль</a>
            <a href="{% url 'applications' %}">Отклики</a>
            <form action="{% url 'logout' %}" method="POST">
                {% csrf_token %}
                <button class="leave">Выйти</button>
            </form>
        {% else %}

            <a href="{% url 'login' %}" >Войти</a>
            <button onclick="{% url 'register' %}" class="button">Зарегистрироваться </button>
        {% endif %}

    </nav>
    </header>

    <!-- Заголовок -->
    <h1 class="title">Мои вакансии</h1>

    <!-- Список вакансий -->
    <section class="vacancy-list">
        {% if page_obj.object_list %}
            <ul class="vacancy-cards">
                {% for vacancy in page_obj %}
                    <li class="vacancy-card">
                        <div class="vacancy-info">
                            <p class="vacancy-title">{{ vacancy.title }}</p>
                            <div class="vacancy-details">
                                <p class="category-profession">{{ vacancy.category }} - {{ vacancy.profession }}</p>
                                <p class="experience">Требуемый опыт работы: {{ vacancy.experience_required }}</p>
                                <p class="job-type">Тип работы: {{ vacancy.get_job_type_display }}</p>
                                <p class="location">Местоположение: {{ vacancy.location }}</p>
                                <p class="salary"> <img src="{% static 'users/img/salary.svg' %}"> от {{ vacancy.salary_min }} до {{ vacancy.salary_max }} сом</p>
                            </div>
                        </div>
                        <div class="vacancy-actions">
                            <a href="{% url 'vacancy_detail' vacancy.id %}" class="view-btn">Посмотреть</a>
                            <a href="{% url 'edit_vacancy' vacancy.id %}" class="edit-btn">Редактировать</a>
                        </div>
                    </li>
                {% endfor %}
            </ul>
        {% else %}
            <p class="no-vacancies">У вас пока нет вакансий.</p>
        {% endif %}
    </section>

    <!-- Пагинация -->
    <div class="pagination">
        <span class="step-links">
            {% if page_obj.has_previous %}
                <a href="?page=1" class="pagination-link">Первая</a>
                <a href="?page={{ page_obj.previous_page_number }}" class="pagination-link">Назад</a>
            {% endif %}

            <span class="page-info">Страница {{ page_obj.number }} из {{ page_obj.paginator.num_pages }}</span>

            {% if page_obj.has_next %}
                <a href="?page={{ page_obj.next_page_number }}" class="pagination-link">Вперед</a>
                <a href="?page={{ page_obj.paginator.num_pages }}" class="pagination-link">Последняя</a>
            {% endif %}
        </span>
    </div>
</body>
</html>
