<!DOCTYPE html>
{% load static %}
<html lang="ru">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" type="text/css" href="{% static 'work/css/home_page.css' %}">
    <title>HiredUp</title>

</head>
<body>
<div class="main">
<header class="top-panel">
        <div class="logotype" >
            <a href="{% url 'home' %}"><img src="{% static 'users/img/Logo.svg' %}" alt="HiredUp Logo"></a>
        </div>

        <nav class="nav-menu">
        {% if user.is_authenticated %}
            <a href="{% url 'profile' %}">Профиль</a>
            <a href="{% url 'applications' %}">Отклики</a>
            {% if user.employer_profile %}  <!-- Проверяем, является ли пользователь работодателем -->
            <a href="{% url 'employer_vacancies' %}">Мои вакансии</a>  <!-- Ссылка на страницу списка вакансий -->
        {% endif %}
            <form action="{% url 'logout' %}" method="POST">
                {% csrf_token %}
                <button class="leave">Выйти</button>
            </form>

        {% else %}

            <a href="{% url 'login' %}" >Войти</a>
            <button onclick="{% url 'register' %}" class="button">Зарегистрироваться </button>
        {% endif %}

    </nav>

    </header>
     {% if user.is_authenticated %}
            <h1>{{ user.username }}, добро пожаловать в hired</h1>
            <h1 class="customh1">Up!</h1>
        {% else %}
            <h1>Добро пожаловать в hired</h1>
            <h1 class="customh1">Up!</h1>
        {% endif %}

    <!-- Форма поиска -->
    <form action="{% url 'search' %}" method="GET" class="search-form">
    <div class="form-group">
        <input
            type="text"
            name="q"
            placeholder=" "
            value="{{ request.GET.q }}"
            class="form-input"
            id="search-input"
        >
        <label for="search-input">Поиск работы мечты</label>
        <button class="srch">
            <img src="{% static 'users/img/srchIcon.svg' %}" alt="Search Icon">
        </button>
    </div>
</form>

</div>

    <!-- Рекомендуемые вакансии -->
    <section class="recommended">
        <h2>Рекомендуемые вакансии</h2>
        <div class="vacancy-list">
            {% for vacancy in recommended_vacancies %}
                <div class="vacancy">
                    {% if vacancy.employer.company_logo %}
                        <img src="{{ vacancy.employer.company_logo.url }}" alt="Логотип компании">
                    {% endif %}
                    <h3>{{ vacancy.employer.company_name }}</h3>
                     <p>  {{vacancy.employer.company_address }}</p>
                    <h3><a href="{% url 'vacancy_detail' vacancy_id=vacancy.id %}">{{ vacancy.title }}</a></h3>
                    <p><strong>Категория:</strong> {{ vacancy.category.name }}</p>
                    <p><strong>Зарплата:</strong> от {{ vacancy.salary_min }} до {{ vacancy.salary_max }} руб.</p>
                </div>
            {% endfor %}
        </div>
    </section>

    {% if personalized_vacancies %}
        <section class="personalized">
            <h2>Вакансии по вашей категории</h2>
            <div class="vacancy-list">
                {% for vacancy in personalized_vacancies %}
                    <div class="vacancy">
                        <h3><a href="{% url 'vacancy_detail' vacancy_id=vacancy.id %}">{{ vacancy.title }}</a></h3>
                        <p><strong>Категория:</strong> {{ vacancy.category.name }}</p>
                        <p><strong>Зарплата:</strong> от {{ vacancy.salary_min }} до {{ vacancy.salary_max }} руб.</p>
                    </div>
                {% empty %}
                    <p>Нет вакансий, соответствующих вашей категории.</p>
                {% endfor %}
            </div>
        </section>
    {% endif %}


    {% if employer_recommended_vacancies %}
        <section class="recommended">
            <h2>Рекомендации для работодателей</h2>
            <div class="vacancy-list">
                {% for vacancy in employer_recommended_vacancies %}
                    <div class="vacancy">
                        <h3><a href="{% url 'vacancy_detail' vacancy_id=vacancy.id %}">{{ vacancy.title }}</a></h3>
                        <p><strong>Категория:</strong> {{ vacancy.category.name }}</p>
                        <p><strong>Зарплата:</strong> от {{ vacancy.salary_min }} до {{ vacancy.salary_max }} руб.</p>
                    </div>
                {% empty %}
                    <p>Пока нет доступных вакансий для рекомендованных категорий.</p>
                {% endfor %}
            </div>
        </section>
    {% endif %}

    <footer>
        <p>HiredUp &copy; 2024 Все права защищены</p>
    </footer>

</body>
</html>
