<!DOCTYPE html>
{% load static %}
<html lang="ru">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" type="text/css" href="{% static 'work/css/home_page.css' %}">
    <title>HiredUp</title>

    <style>
        /* Пример простых стилей для навбара */
        nav {
            background-color: #333;
            padding: 1em;
        }
        nav a {
            color: white;
            margin: 0 1em;
            text-decoration: none;
        }
        nav a:hover {
            text-decoration: underline;
        }
    </style>
</head>
<body>
    <!-- Навбар -->
        <button>
  <span class="text">Button</span>
</button>

        <a href="{% url 'home' %}">Главная</a>
        {% if user.is_authenticated %}
            <a href="{% url 'profile' %}">Профиль</a>
            <a href="{% url 'applications' %}">Отклики</a>
            <form action="{% url 'logout' %}" method="POST" style="display: inline;">
                {% csrf_token %}
                <button type="submit" style="background: none; border: none; color: white; cursor: pointer;">Выйти</button>
            </form>
        {% else %}
            <a href="{% url 'login' %}">Войти</a>
            <a href="{% url 'register' %}">Зарегистрироваться</a>
        {% endif %}


    <header>
        <h1>Добро пожаловать на HiredUp</h1>
    </header>
    <main>
        {% if user.is_authenticated %}
            <h2>Вы вошли как {{user.username }}!</h2>
        {% endif %}
    </main>

    <!-- Приветствие и описание -->
    <section class="intro">
        <h1>Добро пожаловать на сайт для поиска работы!</h1>
        <p>Здесь вы можете найти подходящие вакансии, создать резюме и найти работу вашей мечты.</p>
    </section>

    <!-- Рекомендуемые вакансии -->
    <section class="recommended">
        <h2>Рекомендуемые вакансии</h2>
        <div class="vacancy-list">
            {% for vacancy in recommended_vacancies %}
                <div class="vacancy">
                    <h3><a href="{% url 'vacancy_detail' vacancy_id=vacancy.id %}">{{ vacancy.title }}</a></h3>
                    <p><strong>Категория:</strong> {{ vacancy.category.name }}</p>
                    <p><strong>Зарплата:</strong> от {{ vacancy.salary_min }} до {{ vacancy.salary_max }} руб.</p>
                </div>
            {% endfor %}
        </div>
    </section>

    <!-- Подвал -->
    <footer>
        <p>&copy; 2024 Все права защищены</p>
    </footer>



</body>
</html>
