{% load static %}
<!DOCTYPE html>
<html lang="ru">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Вход в систему</title>
    <link rel="stylesheet" type="text/css" href="{% static 'users/css/login.css' %}">
</head>
<body>

<header class="left-panel">
        <div class="logotype">
            <img src="{% static 'users/img/Logo.svg' %}" alt="HiredUp Logo">
        </div>
        <nav class="nav-menu">
            <a href="{% url 'home' %}">Главная</a>
            <a href="{% url 'register' %}">Зарегистрироваться</a>
            <a href="#profile">Вакансии дня</a>
            <a href="#register">Помощь</a>
            <a href="#login">Еще что-то</a>
        </nav>
    </header>

    <!-- Основной контент -->
    <div class="main-content">
        <h1>Авторизация</h1>
        <h2>Введите свои данные, чтобы войти в учетную запись</h2>
        <div class="form-container">
             {% if messages %}
            {% for message in messages %}
                <div class="error-message">{{ message }}</div>
            {% endfor %}
        {% endif %}
            <form method="post">
                {% csrf_token %}
                <div class="form-group">
                    <input class="form-input" type="text" name="username" id="username" placeholder=" ">
                    <label for="username">Имя пользователя</label>
                </div>
                <div class="form-group">
                    <input class="form-input" type="password" name="password" id="password" placeholder=" ">
                    <label for="password">Пароль</label>
                </div>

        </div>
        <button type="submit" name="user_type">
                    <span class ="text">Войти</span>
                </button>
        <p>Нет аккаунта? <a href="{% url 'register' %}">Зарегистрируйтесь здесь</a></p>
        </form>
        <footer>
    <p>&copy; 2024 HiredUp</p>
</footer>
    </div>


<!-- Footer -->


</body>
</html>
