<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Сброс пароля</title>
</head>
<body>
    <h1>Сброс пароля</h1>
    <form method="post">
        {% csrf_token %}
        <label for="email">Введите вашу почту:</label>
        <input type="email" name="email" required>
        <button type="submit">Отправить ссылку для сброса пароля</button>
    </form>
    <p>Вернуться к <a href="{% url 'login' %}">входу</a>.</p>
</body>
</html>
