{% load static %}
<!DOCTYPE html>
<html lang="ru">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{% block title %}Профиль Работодателя{% endblock %}</title>
    <link rel="stylesheet" type="text/css" href="{% static 'users/css/profile_employer.css' %}">

    <style>
        /* Пример простых стилей для навбара */
        nav {
            background-color: #333;
            padding: 1em;
        }
        nav a {
            color: white;
            margin: 0 1em;
            text-decoration: none;
        }
        nav a:hover {
            text-decoration: underline;
        }
    </style>

</head>


<body>

    <nav>
        <a href="{% url 'home' %}">Главная</a>
        {% if user.is_authenticated %}
            <form action="{% url 'logout' %}" method="POST" style="display: inline;">
                {% csrf_token %}
                <button type="submit" style="background: none; border: none; color: white; cursor: pointer;">Выйти</button>
            </form>
        {% else %}
            <a href="{% url 'login' %}">Войти</a>
            <a href="{% url 'register' %}">Зарегистрироваться</a>
        {% endif %}
    </nav>

    {% block content %}
    <div class="profile-container">
        <h1 class="profile-title">Профиль Работодателя: {{employer_profile.user.username }}</h1>

        <div class="profile-info">
            <p><strong>Имя компании:</strong> {{employer_profile.company_name }}</p>
            <p><strong>Описание компании:</strong> {{employer_profile.company_description }}</p>
            <p><strong>Адрес компании:</strong> {{employer_profile.company_address }}</p>
            <p><strong>Email-адрес:</strong>{{employer_profile.user.email }}</p>
            {% if employer_profile.company_logo %}
                <img src="{{ employer_profile.company_logo.url }}" alt="Логотип компании" class="company-logo">
            {% else %}
                <p>Логотип отсутствует.</p>
            {% endif %}
            <p><strong>Дата создания профиля:</strong> {{ employer_profile.created_at|date:"d-m-Y" }}</p>
            <a href="{% url 'edit_profile' %}">Редактировать профиль</a>
        </div>
    </div>
    {% endblock %}
</body>
</html>
