{% load static %}

{% block title %}Hiredup{% endblock %}

{% block content %}
<!DOCTYPE html>
<html lang="ru">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" type="text/css" href="{% static 'users/css/profile_jobseeker.css' %}">
</head>
<body>
    <div class="profile-container">
        <h1 class="profile-title">Профиль Соискателя: {{ job_seeker_profile.user.username }}</h1>

        <div class="profile-info">
            <h2>Резюме</h2>
            {% if job_seeker_profile.resume %}
                <p><strong>Образование:</strong> {{ job_seeker_profile.resume.get_education_display }}</p>
                <p><strong>Опыт работы:</strong> {{ job_seeker_profile.experience }} лет</p>
                <p><strong>Навыки:</strong> {{ job_seeker_profile.resume.skills }}</p>
                <p><strong>Знание языков:</strong> {{ job_seeker_profile.resume.languages }}</p>
                <p><strong>Файл резюме:</strong> <a href="{{ job_seeker_profile.resume.file.url }}" class="resume-link">{{ job_seeker_profile.resume.file.name }}</a></p>
                <p><strong>Дата создания резюме:</strong> {{ job_seeker_profile.resume.created_at|date:"d-m-Y" }}</p>
            {% else %}
                <p>Резюме отсутствует.</p>
            {% endif %}

            <h2>Профессия</h2>
            <p>{{ job_seeker_profile.profession }}</p>

            <p><strong>Дата создания профиля:</strong> {{ job_seeker_profile.created_at|date:"d-m-Y" }}</p>
        </div>
    </div>
</body>
</html>
{% endblock %}
