{% load static %}
{% block content %}
<!DOCTYPE html>
<html lang="ru">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" type="text/css" href="{% static 'users/css/profile_jobseeker.css' %}">

</head>
<body>

    <nav>
        <a href="{% url 'home' %}">Главная</a>
        {% if user.is_authenticated %}
            <form action="{% url 'logout' %}" method="POST" style="display: inline;">
                {% csrf_token %}
                <button type="submit" style="background: none; border: none; color: white; cursor: pointer;">Выйти</button>
            </form>
        {% else %}
            <a href="{% url 'login' %}">Войти</a>
            <a href="{% url 'register' %}">Зарегистрироваться</a>
        {% endif %}
    </nav>

    <div class="profile-container">
        <h1 class="profile-title">Профиль Соискателя: {{ job_seeker_profile.user.username }}</h1>

        <div class="profile-info">
            <h2>Резюме</h2>
            {% if job_seeker_profile.resume %}
                <p><strong>О соискателе:</strong> {{ job_seeker_profile.resume.summary }}</p>
                <p><strong>Образование:</strong> {{ job_seeker_profile.resume.get_education_display }}</p>
                <p><strong>Опыт работы:</strong> {{ job_seeker_profile.experience }} лет</p>
                <p><strong>Навыки:</strong> {{ job_seeker_profile.resume.skills }}</p>
                <p><strong>Знание языков:</strong> {{ job_seeker_profile.resume.languages }}</p>
                <p><strong>Дата создания резюме:</strong> {{ job_seeker_profile.resume.created_at|date:"d-m-Y" }}</p>
            {% else %}
                <p>Резюме отсутствует.</p>
            {% endif %}

            <h2>Профессия</h2>
            <p>{{ job_seeker_profile.profession }}</p>

            <h2>Статус</h2>
            <p><strong>Статус:</strong>
                {% if job_seeker_profile.status %}
                    Ищу работу
                {% else %}
                    Не ищу работу
                {% endif %}
            </p> <!-- Отображаем статус -->

            <p><strong>Дата создания профиля:</strong> {{ job_seeker_profile.created_at|date:"d-m-Y" }}</p>
            <a href="{% url 'edit_profile' %}">Редактировать профиль</a>
            <a href="{% url 'resume_view' %}">Редактировать резюме</a>
        </div>
    </div>
</body>
</html>
{% endblock %}