/* Основной стиль */
body {
    margin: 0;
    padding: 0;
    font-family: Arial, sans-serif;
    background: linear-gradient(rgb(5, 6, 45, 0.9), rgb(33, 33, 33, 0.5)) padding-box,
        linear-gradient(120deg, transparent 0%, #1d1d1d, #af40ff) border-box;
    color: white;
}

/* Контейнер */
.container {
    display: flex;
    flex-direction: row;
    min-height: 100vh;
    background-color: rgba(5, 6, 45, 0.8);
}

/* Левая панель */
.left-panel {
    background: linear-gradient(rgb(5, 6, 45,0.9), rgb(33, 33, 33, 0.5)) padding-box,
    linear-gradient(120deg, transparent 0%, #1d1d1d, #af40ff) border-box;
  border: 1px solid transparent;
  box-shadow: rgba(151, 65, 252, 0.2) 0 15px 30px 5px;
  padding: 50px;
  flex-direction: column;
  align-items: center;
  gap: 40px;
  box-sizing: border-box;
  background-size: 200% 150%;
  transition: background-position 0.5s ease;
  color: white;
  height:100%;
  position:fixed;
}

.left-panel .logotype: hover {
  background:none;
}


.left-panel:hover {
  background-position: 100% 0;
}

.nav-menu {
    display: flex;
    flex-direction: column;
    gap: 15px;
}

.nav-menu a {
    text-decoration: none;
    color: white;
    font-size: 18px;
    padding: 10px;
    border-radius: 5px;
    transition: background-color 0.3s ease, color 0.3s ease;
}



.form-group {
    margin-bottom: 15px;
    display: flex;
    flex-direction: column;
}


.form-group label {
    margin-bottom: 5px;
    color: white;
}

.user-type-buttons.button {
    color: rgba(177, 94, 192, 1);
    background: none;
    font-size: 16px;
    border: 2px solid rgba(177, 94, 192, 1);
    border-radius: 50px;
    padding: 10px;
    cursor: pointer;
    transition: 0.3s ease;
}

.user-type-buttons.button:hover {
    background: rgba(177, 94, 192, 1);
    color: white;
}

/* Основной контент */
.main-content {
margin-left: 440px;
    width: 75%;
    padding: 20px;
    background: rgba(33, 33, 33, 0.5);
}

h1 {
    font-size: 35px;
    margin-bottom: 50px;
    margin-left:50px;
}


/* Форма поиска */
.form-container {
    margin-bottom: 20px;

}
.form-group-search input {
    width: 615px;
    padding: 10px;
    border-radius:15px;
    border: none;
    font-size: 16px;
    margin-bottom:30px;
}
.form-group-search {

     margin-left:230px;
}

.form-group input {
    width: 300px;
    padding: 10px;
    border-radius: 5px;
    border: none;
    font-size: 16px;
}


/* Результаты */
.results ul {
    list-style-type: none;
    padding: 0;
}

.results li {
    background: rgba(5, 6, 45, 0.9);
    padding: 15px;
    border-radius: 8px;
    box-shadow: 0 5px 15px rgba(0, 0, 0, 0.3);
    transition: transform 0.3s ease, box-shadow 0.3s ease;
    margin-bottom:30px;
    margin-left: 230px;
    width: 600px;
}

.results li:hover {
    transform: translateY(-10px);
    box-shadow: 0 5px 15px rgba(177, 94, 192, 0.5);
}

.results h2 {
    font-size: 20px;
    color: rgba(177, 94, 192, 1);
}

.results p {
    margin: 5px 0;
}

.results a {
    text-decoration: none;
    color: white;
    font-weight: bold;
    transition: color 0.3s ease;
}

.results a:hover {
    color: rgba(177, 94, 192, 1);
}
.emp-info2 img{
    border-radius: 50px;
    width:100px;
    height:100px;
    object-fit:cover;
    display:inline;
}

.emp-info2 {
    display: flex;

}

.emp-info3{
margin-left: 20px;

}

.emp-info3 img {
    width: 16px;
    height:auto;

}

.salary img{
    width: 16px;
    height:auto;

}


/* Пагинация */
.pagination {
    margin-top: 20px;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 10px;
}

.pagination a {
    text-decoration: none;
    padding: 10px 15px;
    background: rgba(177, 94, 192, 1);
    color: white;
    border-radius: 5px;
    transition: background-color 0.3s ease;
}

.pagination a:hover {
    background-color: rgba(5, 6, 45, 0.9);
}

.pagination span {
    color: white;
}
