/* Основные стили */
body {
    margin: 0;
    padding: 0;
    font-family: Arial, sans-serif;
   background: linear-gradient(rgb(5, 6, 45, 0.9), rgb(33, 33, 33, 0.5)) padding-box,
        linear-gradient(120deg, transparent 0%, #1d1d1d, #af40ff) border-box;
    color: white;
}

.top-panel {
    background: linear-gradient(rgb(5, 6, 45, 0.9), rgb(33, 33, 33, 0.5)) padding-box,
        linear-gradient(120deg, transparent 0%, #1d1d1d, #af40ff) border-box;
    box-shadow: rgba(151, 65, 252, 0.2) 0 15px 30px 5px;
    width: 100%;
    padding: 20px 40px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    box-sizing: border-box;
    background-size: 200% 200%;
    transition: background-position 0.5s ease, transform 0.3s ease;
    position: relative;
    top: 0;
    z-index: 1000;
    color: white;
}

.top-panel:hover {
    background-position: 100% 0;
}

.logotype img {
    width: 100px;
    height: auto;
}

nav {
    display: flex;
    align-items: center;
    gap: 50px;
}

nav a {
    font-size: 18px;
    color: rgba(177, 94, 192, 1);
    cursor: pointer;
    justify-content: center;
    text-decoration: none;
}

nav a:hover {
    color: white;
}

h1{
    margin-top: 50px;
    text-align:center;
}


/* Сообщения */
.messages {
    max-width: 800px;
    margin: 20px auto;
    padding: 15px;
}

.message {
    margin-bottom: 10px;
    padding: 10px;
    border-radius: 5px;
}

.message.success {
    background: rgba(50, 205, 50, 0.2);
    color: #32CD32;
}

.message.error {
    background: rgba(255, 0, 0, 0.2);
    color: red;
}

.message.info{
    background: rgba(205, 197, 50, 0.2);
    color: #CDB832;
}

/* Секция вакансии */
.vacancy-detail {
    max-width: 900px;
    margin: 30px auto;
    padding: 20px;
    background: linear-gradient(rgb(5, 6, 45, 0.9), rgb(5, 6, 45, 0.9));
    border-radius: 14px;
    box-shadow: rgba(151, 65, 252, 0.2) 0 15px 30px -5px;
    display: grid;
    grid-template-columns: 1fr; /* Одноколоночный дизайн для мобильных */
    grid-gap: 20px; /* Расстояние между элементами */
}
/* Основные данные */
.vacancy-header {
    background: rgba(255, 255, 255, 0.05);
    padding: 15px;
    border-radius: 10px;
}

/* Описание вакансии и Обязанности */
.vacancy-description, .vacancy-responsibilities {
    background: rgba(255, 255, 255, 0.05);
    padding: 15px;
    border-radius: 10px;
}

.vacancy-header h2, .vacancy-description h3, .vacancy-responsibilities h3, .company-profile h3 {
    color: #B2DDFF;
    border-bottom: 1px solid #B2DDFF;
    padding-bottom: 10px;
    margin-bottom: 15px;
}

.vacancy-header p, .vacancy-description p, .vacancy-responsibilities p, .company-profile p {
    margin: 10px 0;
    line-height: 1.6;
}

.vacancy-status .status {
    font-weight: bold;
}

.vacancy-status .active {
    color: #32CD32;
}

.vacancy-status .inactive {
    color: red;
}

button {
    color: white;
    background: none;
    font-size: 18px;
    border-radius: 50px;
    border: 2px solid white;
    cursor: pointer;
    align-items: center;
    justify-content: center;
    max-width: 100%;
    min-width: 140px;
    padding: 10px;
    opacity: 0.8;

}

button:hover {
    color: rgba(177, 94, 192, 1);
    border: 3px solid rgba(177, 94, 192, 1);
    box-shadow: rgba(151, 65, 252, 0.2) 0 15px 30px 5px;
}

.company-profile {

    gap: 20px;
    background: rgba(255, 255, 255, 0.05);
    padding: 15px;
    border-radius: 10px;

}

.company-profile img{
 border-radius: 50px;
    width:100px;
    height:100px;
    object-fit:cover;
    display:inline;
}


.edit-vacancy a {
    color: white;
    background: rgba(255, 165, 0, 0.8);
    padding: 10px 20px;
    border-radius: 50px;
    text-decoration: none;
    font-weight: bold;
    transition: background 0.3s ease;
}

.edit-vacancy a:hover {
    background: rgba(255, 140, 0, 1);
}


/* Стили для мобильных устройств */
@media (max-width: 768px) {
    nav {
        flex-direction: column;
        align-items: center;
    }

    nav a {
        margin-bottom: 10px;
    }

    .vacancy-detail {
        padding: 15px;
    }

    button {
        font-size: 16px;
        padding: 8px 15px;
    }
}

.buttons {
    display: flex;
    justify-content: center;
    gap: 15px; /* Отступ между кнопками */
    margin-top: 20px; /* Отступ сверху от секции */
     margin-bottom: 80px;
}


@media (min-width: 768px) {
    .vacancy-detail {
        grid-template-columns: repeat(2, 1fr); /* Две колонки для десктопов */
    }

    .vacancy-header {
        grid-column: span 2; /* Заголовок будет занимать две колонки */
    }

    .messages {
        grid-column: span 1; /* Заголовок будет занимать две колонки */
    }

}