/* Основной стиль страницы */
body {
    font-family: 'Arial', sans-serif;
    background-color: #f4f4f4;
    margin: 0;
    padding: 0;
}

h1 {
    text-align: center;
    color: #333;
    padding: 20px;
    font-size: 2rem;
    margin-top: 40px;
}

form {
    width: 80%;
    max-width: 1000px;
    margin: 0 auto;
    background-color: #ffffff;
    padding: 30px;
    border-radius: 8px;
    box-shadow: 0 2px 10px rgba(0, 0, 0, 0.1);
    font-size: 16px;
}

/* Сетка формы */
label {
    display: block;
    margin-bottom: 8px;
    font-weight: bold;
    color: #333;
}

input, select, textarea {
    width: 100%;
    padding: 12px;
    margin-bottom: 20px;
    border-radius: 8px;
    border: 1px solid #ddd;
    font-size: 16px;
    box-sizing: border-box;
    transition: all 0.3s ease;
}

/* Стиль для полей с фокусом */
input:focus, select:focus, textarea:focus {
    border-color: #4CAF50;
    outline: none;
}

/* Стили для вопросика и подсказки */
.tooltip {
    display: inline-block;
    position: relative;
    cursor: pointer;
    color: #6C757D; /* Цвет вопросика */
    font-weight: bold;
    font-size: 1.2em;
    margin-left: 5px;
}

.tooltip .tooltip-text {
    visibility: hidden;
    width: 200px;
    background-color: #333;
    color: #fff;
    text-align: center;
    border-radius: 4px;
    padding: 5px;
    position: absolute;
    z-index: 1;
    bottom: 125%; /* Расположение подсказки */
    left: 50%;
    transform: translateX(-50%);
    opacity: 0;
    transition: opacity 0.3s;
    font-size: 0.9em;
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.2);
}

/* Треугольник у подсказки */
.tooltip .tooltip-text::after {
    content: "";
    position: absolute;
    top: 100%; /* Позиция треугольника */
    left: 50%;
    margin-left: -5px;
    border-width: 5px;
    border-style: solid;
    border-color: #333 transparent transparent transparent;
}

/* Показываем подсказку при наведении */
.tooltip:hover .tooltip-text {
    visibility: visible;
    opacity: 1;
}

/* Дополнительные стили для вопросика */
.tooltip:hover {
    color: #343A40; /* Цвет при наведении */
}


/* Ошибки */
.error-list {
    color: #e74c3c;
    list-style-type: none;
    padding: 0;
    margin-top: -15px;
    margin-bottom: 20px;
}

.error-list li {
    font-size: 14px;
}

/* Кнопка отправки */
button[type="submit"] {
    background-color: #4CAF50;
    color: white;
    font-size: 18px;
    padding: 15px 30px;
    border: none;
    border-radius: 8px;
    cursor: pointer;
    width: 100%;
    transition: background-color 0.3s ease;
}

button[type="submit"]:hover {
    background-color: #45a049;
}

/* Стили для мобильных устройств */
@media (max-width: 768px) {
    form {
        width: 90%;
        padding: 20px;
    }

    h1 {
        font-size: 1.5rem;
    }
}

