/* Общие стили для страницы редактирования */
body {
    font-family: Arial, sans-serif;
    background-color: #f4f4f4;
    margin: 0;
    padding: 0;
}

h1 {
    text-align: center;
    margin-top: 30px;
    font-size: 2em;
    color: #333;
}

/* Стили для формы */
form {
    max-width: 600px;
    margin: 40px auto;
    padding: 20px;
    background-color: white;
    border-radius: 8px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

form label {
    display: block;
    font-size: 1em;
    color: #555;
    margin-bottom: 10px;
}

form select{
    width: 100%;
    height: auto; /* Убираем фиксированную высоту */
    padding: 8px 10px; /* Уменьшаем отступы */
    font-size: 1em;
    line-height: 1.5; /* Увеличиваем межстрочный интервал */
    margin-bottom: 20px;
    border: 1px solid #ccc;
    border-radius: 4px;
    box-sizing: border-box; /* Учитывать padding в общей ширине */
}
form input[type="text"],
form input[type="number"],
form input[type="file"],
form textarea {
    width: 100%;
    padding: 10px;
    font-size: 1em;
    margin-bottom: 20px;
    border: 1px solid #ccc;
    border-radius: 4px;
}

form button {
    display: block;
    width: 100%;
    padding: 12px;
    background-color: #007bff;
    color: white;
    border: none;
    border-radius: 4px;
    font-size: 1.1em;
    cursor: pointer;
    transition: background-color 0.3s ease;
}

form button:hover {
    background-color: #0056b3;
}

/* Стили для полей формы */
form select {
    height: 35px;
}

/* Стили для ошибки или сообщения */
.error-message {
    color: red;
    font-size: 0.9em;
    margin-top: 10px;
}

/* Стили для навигационной панели */
nav {
    background-color: #333;
    padding: 1em;
    margin-bottom: 40px;
}

nav a {
    color: white;
    margin: 0 1em;
    text-decoration: none;
}

nav a:hover {
    text-decoration: underline;
}
