/* Основные стили */
body {
    margin: 0;
    padding: 0;
    font-family: Arial, sans-serif;
    background-image: url("/static/users/img/jobSeekerProfilebackground.jpg");
    background-repeat: no-repeat;
    background-size: 100% auto;
    background-position: flex;
}


/* Хэдер */
.top-panel {
    background: linear-gradient(rgb(5, 6, 45, 0.9), rgb(33, 33, 33, 0.5)) padding-box,
        linear-gradient(120deg, transparent 0%, #1d1d1d, #af40ff) border-box;
    box-shadow: rgba(151, 65, 252, 0.2) 0 15px 30px 5px;
    width: 100%;
    padding: 20px 40px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    box-sizing: border-box;
    background-size: 200% 200%;
    transition: background-position 0.5s ease, transform 0.3s ease;
    position: relative;
    top: 0;
    z-index: 1000;
    color: white;
}

.top-panel:hover {
    background-position: 100% 0;
}

.logotype img {
    width: 100px;
    height: auto;
}

.nav-menu {
    display: flex;
    align-items: center;
    gap: 50px;
}

.nav-menu a {
    font-size: 18px;
    color: rgba(177, 94, 192, 1);
    cursor: pointer;
    justify-content: center;
    text-decoration: none;
}

.nav-menu a:hover {
    color: white;
}


button {
    color: white;
    background: none;
    font-size: 18px;
    border-radius: 50px;
    border: 3px solid white;
    cursor: pointer;
    align-items: center;
    justify-content: center;
    max-width: 100%;
    min-width: 140px;
    padding: 10px;
    opacity: 0.8;
}

button:hover {
    color: rgba(177, 94, 192, 1);
    border: 3px solid rgba(177, 94, 192, 1);
    box-shadow: rgba(151, 65, 252, 0.2) 0 15px 30px 5px;
}



/* Главный контейнер */
.profile-container {
    background: linear-gradient(rgb(5, 6, 45, 0.9), rgb(5, 6, 45, 0.9)) padding-box,
        linear-gradient(100deg, transparent 0%, #af40ff, #af40ff) border-box;
    border: 1px solid transparent;
    box-shadow: rgba(151, 65, 252, 0.2) 0 15px 30px -5px;
    padding: 32px 24px;
    font-size: 16px;
    color: white;
    display: flex;
    flex-direction: column;

    box-sizing: border-box;
    border-radius: 14px;
    max-width: 600px;
    width: 100%;

    margin: 50px auto;
    margin-bottom:100px;
    position: relative;
    overflow: hidden;
    transition: max-height 0.5s ease, opacity 0.5s ease;

}
/*================================================================================*/

/* Никнейм юзера */
.profile-title {
    text-align: center;
    font-size: 25px;
    font-weight: bold;
    margin-top: 10px;
    opacity: 0.7;
    color:#B2DDFF;
}
/*===============*/


/* Данные пользователя(Имя и тд.) */

.user-info {
    position: relative;
    display: flex;
    align-items: flex-start;
    gap: 20px;
    background: none;
    padding: 0px;
    border-radius: 10px;
    color: white;
}

.profile-details {
    display: flex;
    flex-direction: column;
    justify-content: center;

}
.profile-details p {
    margin: 8px 0; /* Уменьшает отступы сверху и снизу */
    line-height: 1.5; /* Снижает межстрочный интервал */
}
/*======================================================*/

/*Аватарка */
.profile-pic {
    width: 130px;
    height: 150px;
    border-radius: 0%;
    overflow: hidden;
    border: 2px solid white;
    align-self: center;
    margin-right: 5px;
}

.profile-pic img {
    width: 100%;
    height: 100%;
    object-fit: cover;
}
/*==============*/


/* Кнопка редактирующая профиль*/
.edit-icon {
    position: absolute;
    top: 10px;
    right: 10px;
    color: white;
    width:35px;
}

.edit-icon:hover {
    transform: scale(1.1);
    color:white;
   
}

.edit-icon img {
    width: 35px;
    height: auto;
}
/*==========================*/

/* Выравнивает кое-что */
.res-det{
    margin: 5px 0; /* Уменьшает отступы сверху и снизу */
    line-height: 1.2; /* Снижает межстрочный интервал */
}

/* Контейнер РЕЗЮМЕ */

.profile-info {
    max-height: 0;
    opacity: 0;
    overflow: hidden;
    transition: max-height 0.5s ease, opacity 0.5s ease;
}


.profile-info.collapsed {
    max-height: 1000px;
    opacity: 1;
    padding: 10px 20px;
}

.profile-info h2 {
    font-size: 15px;
    color: #B2DDFF;
    border-bottom: 2px solid rgba(255, 221, 87, 1);
    border-color: #B2DDFF;
    padding-bottom: 5px;

}

.profile-info p {
    word-wrap: break-word; /* Перенос длинных слов */
    word-break: break-word; /* Перенос слов при необходимости */
    overflow-wrap: break-word; /* Совместимость с различными браузерами */
    white-space: pre-wrap; /* Сохраняет переносы строк и форматирование */
    margin: 0;
    line-height: 1.2;
}
/*=========================================================================*/

/* Кнопка редактирующая резюме */
.button {
    color: white;
    background: none;
    font-size: 14px;
    border-radius: 50px;
    border: 3px solid white;
    cursor: pointer;
    padding: 10px 20px;
    text-decoration: none;
    display: inline-block;
    text-align: center;
    opacity: 0.8;
    margin-left:170px;
    margin-top:50px;
    margin-bottom:20px;
    position:sticky;
}

.button:hover {
    color: rgba(177, 94, 192, 1);
    border: 3px solid rgba(177, 94, 192, 1);
    box-shadow: rgba(151, 65, 252, 0.2) 0 0px 35px 5px;
}
/*==========================================================*/

/* Иконка свертывания/развертывания */
.toggle-icon {
    width: 45px;
    height: auto;
    cursor: pointer;
    margin-left: 10px;
    transition: transform 0.3s ease;
}
.toggle-icon.rotated {
    transform: rotate(180deg); /* Поворот на 180 градусов */
}
.toggle-icon: hover{
    transform: scale(1.1);
}
/*==================================*/


/* =Прочие стили= */

.NAME{
    font-size: 25px;
    font-weight:600;
    opacity:0.9;
}
.yes{
    color:rgba(69, 251, 163, 1);
    font-weight:200;
    margin:0;
    line-height: 0.2;
}
.no{
 color:rgba(251, 69, 69, 1);
    font-weight:200;
    font-weight:200;
    margin:0;
    line-height: 0.2;
}
strong{
     opacity: 0.9;
     color:#B2DDFF;
}
strong img{
    width: 16px;
    height:auto;
}

li{
     margin-bottom: 10px;
     margin-top:20px;
     font-weight: 600;
     color:#B2DDFF;
     opacity:0.9;
     line-height: 1.1;
}
h5{
    font-size: 15px;
    font-weight: 100;
    margin-top:10px;
    margin-bottom:10px;
    margin-left:250px;
    opacity:0.5;
    position:absolute;
}
h2 {
    display: flex;
    align-items: center;
    justify-content: space-between;
    border-bottom: 1px solid #B2DDFF;

    font-size: 18px;
    opacity: 0.9;
    color:#B2DDFF;
    margin-top:50px;
}

/*===========================================*/

/* Footer */
footer {
    position: block;
    bottom: 0;
    width: 100%;
    text-align: center;
    background-color: rgba(5, 6, 45, 0.19);
    color: white;
    font-size: 14px;
    padding: 10px 0;
    z-index: 1000;
    box-shadow: 0 -2px 5px rgba(0, 0, 0, 0.1);
}

footer p {
    margin-bottom: 20px;
}


/* Стиль для модального окна */
.modal {
    display: none; /* Скрыто по умолчанию */
    position: fixed;
    z-index: 1001;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    overflow: auto;
    background-color: rgba(0, 0, 0, 0.4); /* Темный полупрозрачный фон */
    padding-top: 60px;
    transition: all 0.3s ease-in-out;
}

/* Контент модального окна */
.modal-content {
    background-color: #2a2a2a; /* Темный фон */
    margin: 5% auto;
    padding: 20px;
    border: 1px solid #888;
    width: 80%;
    max-width: 600px;
    border-radius: 10px;
    color: white;
    box-shadow: rgba(151, 65, 252, 0.2) 0 15px 30px 5px;
}

/* Кнопка закрытия */
.close {
    color: white;
    font-size: 28px;
    font-weight: bold;
    position: absolute;
    top: 10px;
    right: 25px;
    transition: transform 0.3s ease;
    cursor: pointer;
}

.close:hover,
.close:focus {
    color: rgba(177, 94, 192, 1);
    transform: scale(1.1);
}

/* Заголовок модального окна */
.modal-content h3 {
    text-align: center;
    font-size: 20px;
    margin-bottom: 15px;
    color: #B2DDFF;
}

/* Список статистики */
.modal-content ul {
    list-style-type: none;
    padding: 0;
}


.modal-content ul li {
    margin-bottom: 10px;
    font-size: 18px;
}

/* Кнопка для статистики (маленькая и в уголке) */
.stat-button {
    background: none;
    color: white;
    border: 3px solid white;
    border-radius: 50px;
    padding: 8px 16px;  /* Уменьшаем размеры */
    cursor: pointer;
    font-size: 12px;  /* Уменьшаем размер шрифта */
    position: fixed;  /* Фиксируем кнопку */
    bottom: 20px;  /* Располагаем внизу */
    right: 20px;  /* Располагаем справа */
    z-index: 1002;  /* Устанавливаем выше остальных элементов */
    box-shadow: rgba(151, 65, 252, 0.2) 0 5px 15px 3px;
    transition: all 0.3s ease;
}

.stat-button:hover {
    color: rgba(177, 94, 192, 1);
    border: 3px solid rgba(177, 94, 192, 1);
    box-shadow: rgba(151, 65, 252, 0.2) 0 0px 35px 5px;
}


/* Стили для модального окна, когда оно открыто */
.modal.show {
    display: block;
}
